*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: gray;
    background-size: cover;
    font-family: sans-serif;
    display: flex;
    height: 900px;
    /* align-items: center; */
    /* justify-content: center; */
}

.box-style{
    background-color: rgb(15, 162, 113);
    width: 350px;
    height: 750px;
    /* margin-top: 100px; */
    margin-left: 50px;
    border: 1px solid #f1b4b4;
    
}
h1{
    text-align: center;
    color: white;
    font-size: 40px;
}
h3{
    text-align: center;
    color: white;
    /* font-size: 40px; */
}
label{
    color: white;
    font-size: 30px;
    margin-left: 50px;
}
input[type=text],[type=mail], [type=password] {
    width: 200px;
    height: 30px;
    padding: ;
    margin: ;
    display: inline-block;
    border: 1px solid #f1b4b4;
    border-radius: 7px;
    box-sizing: border-box;
    margin-left: 50px;
    font-size: 20px;
  }
input[type=submit]{
    background-color:skyblue;
    color: white;
    font-size: 25px;
    margin-left:90px ;
    width: 125px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid #f1b4b4;
    
}
/* input[type=submit]:hover{
    background-color: red;
    color: white;
    cursor: pointer;
} */

ul{
    list-style-type: none;
    margin-left: 30px;
}
li{
    display: inline;
}
a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 1px;
    /* margin-left: 20px; */
}
p{  font-size: 15px;
    text-align: center;
    color: blue;
    background-color: rgb(104, 104, 14);
    border-radius: 5px;

}
.radio-style{
    text-align: center;
    color: white;
}
/* a:hover{
    color: red;
}
     */

 
  